:host {
  width: 100%;
}

main {
  display: flex;
  width: 100%;
}

.content {
  display: flex;
  width: 100%;
  padding-right: 20px;
  padding-top: 20px;
}

.mat-elevation-z8 {
  width: 100%;
}

.mat-column-title {
  width: 450px;
}

.input-group {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.mat-column-winner {
  width: 20%;
}

::ng-deep .mat-form-field .mat-select {
  height: 20px;
}