<ng-container *ngIf="isSelect; else inputField">
  <mat-form-field [appearance]="'outline'">
    <mat-select (selectionChange)="onSelectionChange($event)" [value]="selectValue" class="custom-select">
      <mat-option [value]="''" selected>Yes/No</mat-option>

      @for (option of options; track option) {
        <mat-option [value]="option.value">{{option.label}}</mat-option>
      }
    </mat-select>
  </mat-form-field>

</ng-container>
<ng-template #inputField>
  <mat-form-field [appearance]="'outline'">
    <div class="icon-wrapper">
      <input placeholder="Filter by year" matInput type="text" [(ngModel)]="inputValue" (input)="onInputChange($event)">

      @if (inputValue) {
        <mat-icon fontIcon="close" (click)="onInputClear()" />
      }

    </div>
  </mat-form-field>
</ng-template>